<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  
  <% if (searched==true) { %>

    <div id="mushroomMenu" class="mushroomMenu" style="width: 300px">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <form action="/mainPage" method="get">
        <a onclick="this.closest('form').submit()">Home Page</a>
        <br>
      </form>
      <div class="search-container">
        <form action="/searchMushroom" method="post">
          <input class="search_search" type="text" placeholder="Search..." name="search_input" value="<%=input%>">
          <input type="hidden" value="mushroom" name="main">
          <input type="submit" hidden>
        </form>
      </div>
      
      <div id="searchedmushrooms">

        <% if (!favourites.length) {
          mushrooms.forEach(function (mushroom) {  %>
            
            <%- include("partials/mushroom.ejs", { username : currentUser.username, mushroom : mushroom.name, id : mushroom._id}) -%>
        
        <% })} else { %>
    
          <% 
          mushrooms.forEach(function (mushroom) { 
            favourites.forEach(function (favourite) {
              if (favourite.username == currentUser.username && favourite.mushroom == mushroom.name) { 
                %>
          
          <%- include("partials/fav_mushroom.ejs", { username : currentUser.username, mushroom : mushroom.name, id : mushroom._id}) -%>
          
          <% }})}) %>
    
          <% 
          mushrooms.forEach(function (mushroom) { 
          var counter = 0;
          favourites.forEach(function (favourite) {
            if (!(favourite.username == currentUser.username && favourite.mushroom == mushroom.name)) {
              counter++;
              if (counter == (favourites.length)) {
              %>
              
          <%- include("partials/mushroom.ejs", { username : currentUser.username, mushroom : mushroom.name, id : mushroom._id}) -%>
    
          <% }}})}) %>
        <% } %>
      </div>
    </div>
    
  <% } else { %>

    <div id="mushroomMenu" class="mushroomMenu" style="width: 0px">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <form action="/mainPage" method="get">
        <a onclick="this.closest('form').submit()">Home Page</a>
        <br>
      </form>
      <div class="search-container">
        <form action="/searchMushroom" method="post">
          <input class="search_search" type="text" placeholder="Search..." name="search_input" value="<%=input%>">
          <input type="hidden" value="main" name="search_page">
          <input type="submit" hidden>
        </form>
      </div>
      <div id="searchedmushrooms">

    <% if (!favourites.length) {
      mushrooms.forEach(function (mushroom) {  %>
        
        <%- include("partials/mushroom.ejs", { username : currentUser.username, mushroom : mushroom.name, id : mushroom._id}) -%>
    
    <% })} else { %>

      <% 
      mushrooms.forEach(function (mushroom) { 
        favourites.forEach(function (favourite) {
          if (favourite.username == currentUser.username && favourite.mushroom == mushroom.name) { 
            %>
      
      <%- include("partials/fav_mushroom.ejs", { username : currentUser.username, mushroom : mushroom.name, id : mushroom._id}) -%>
      
      <% }})}) %>

      <% 
      mushrooms.forEach(function (mushroom) { 
      var counter = 0;
      favourites.forEach(function (favourite) {
        if (!(favourite.username == currentUser.username && favourite.mushroom == mushroom.name)) {
          counter++;
          if (counter == (favourites.length)) {
          %>
          
      <%- include("partials/mushroom.ejs", { username : currentUser.username, mushroom : mushroom.name, id : mushroom._id}) -%>

      <% }}})}) %>
    <% } %>
  </div>
    <% } %>
  </div>
</div>

<header>
  <h2>
    <section>
      <div id="alignRight"> 
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Search</span> 
      </div>
      <div id="alignCenter">
        ShroomBase Dashboard
        <img src="images/logo.png" width="80" height="50">
      </div>
      <div id="alignRight">
        <div class="dropdown">
          <span style="font-size:30px;cursor:pointer"><%= currentUser.username %> &#9881; </span>
          <div class="dropdown-content">
            <p><a href="/logout">Logout</a></p>
          </div>
        </div>
      </div>
    </section>
  </h2>
</header>

<section>
  <article>
    <br>
    <br>
    <br>
    <br>
    <h1 class="white">Welcome to ShroomBase's Main Page!</h1>
    <p class="white">Click of the icon next to the "Search" to see a list of Mushrooms</p>
    <p class="white">Click on the gear next to <%= currentUser.username %> to see options related to your account</p>
    <p class="white">We Hope You Find out Website Usefull!</p>
    <img src="images/logo.png" width="400" height="300">
    <br>
    <br>
    <br>
    <br>
  </article>
</section>

<script>
function openNav() 
{
  document.getElementById("mushroomMenu").style.width = "300px";
}

function closeNav() 
{
  document.getElementById("mushroomMenu").style.width = "0";
}
</script>

</body>
</html> 

